<div th:fragment = "footer">
    <footer class="text-muted py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#" class="btn btn-outline-primary">Вгору</a>
            </p>
            <p class="mb-1 mt-5">Робота Рощенюка Владислава aka <a href="https://www.instagram.com/roscheniuk.v/">Lynx©</a>. Сайт оренди автомобілів є власністю компанії, або ж фізичної особи, яка його розробляла, доки компанія цілком не викупить права на нього.</p>
        </div>
    </footer>
</div>